[Unit]
Description=todo service
[Service]
User=root
Type=simple
Environment=REDIS_API_ADDRESS=redis-{{ENV}}.sree-cloud-devops.online:8080
ExecStart=/bin/node /root/server.js
SyslogIdentifier=todo
Restart=on-failure
[Install]
WantedBy=multi-user.target