[Unit]
Description=npm service

[Service]
Type=simple
User=root
WorkingDirectory=/var/www/html/frontend
ExecStart=/var/www/html/frontend /var/www/html/frontend/npm start
Restart=on-failure

[Install]
WantedBy=multi-user.target